<section class="paymentRecieved">

    <section class="row CommonMetricBox">
        <div class=" col-sm-12 col-md col-lg col-xs-12 CommonMetricBox__container">
            asdas
        </div>
        <div class=" col-sm-12 col-md col-lg col-xs-12 CommonMetricBox__container">
            asdsad
        </div>
        <div class=" col-sm-12 col-md col-lg col-xs-12 CommonMetricBox__container">
            asdas
        </div>
        <div class=" col-sm-12 col-md col-lg col-xs-12 CommonMetricBox__container">
            asdas
        </div>
    </section>

</section>