



.login {
	width:100%;
	text-align:center;
	overflow: hidden;
	padding:0;	
	height:100vh;
	background: url("../../images/1.jpg");

	&__img{
		margin-top:15%;
	width:100px;
	height:100px;
	margin-bottom: 30px;
	}
	&__info {
		
		border:1px solid #dcdcdc;
		border-radius:19px;
		width: 40%;
		margin-left: 30%;
	}
	&__name {
		margin:5% 25%;
		width: 45%;
		border:1px solid #a52a2a;
		
    border-radius:10px !important;
		padding: 10px;
text-align: left;
img {
	width:20px;
	height:20px
}
	&__btn {
	width:80%;
	border:none;
	background: none;
	}
	}
	&__pwd {
		margin-left: 25%;
width: 45%;

border: 1px solid brown;
padding: 10px;

    border-radius:10px;
text-align: left;
		img {
	width:20px;
	height:20px
}
	&__btn {
	width:80%;
	border:none;
	background: none;
	}
	}
	&__submit {
	width:15%;
	background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin:5%;
	border:none;
    border-radius:10px !important;
	
    cursor: pointer;
	}
}
