@import '../../css/_attribute.scss';
@import '../../css/_utility.scss';
.login {
	width:100%;
	text-align:center;
	overflow: hidden;
	padding:0;	
	height:100vh;
	background: url("../../images/back.jpg");
	background-repeat: no-repeat;
	background-size: 100%;

	&__img{
		margin-top:5%;
	width:100px;
	height:100px;
	margin-bottom: 30px;
	}
	&__info {
		    
    border-radius: 7px;
    border: 1px solid purple;
    box-shadow: 6px 6px 60px 10px rebeccapurple;
	width: 30%;
	margin-left: 35%;
		
	}
	&__name {
		margin:15% 10% 5% 10%;
		width: 80%;
		 border: 1px solid purple;
    box-shadow:0px 0px 18px 9px rebeccapurple;
		font-family: $font-family; 
		    border-radius:10px;
			color:white !important;
			background-color:white !important;
		padding: 10px;
text-align: left;
img {
	width:20px;
	height:20px
}
	&__btn {
	width:80%;
	border:none;
	background: none;
	outline: none;
	}
	}
	&__pwd {
		margin:15% 10% 5% 10%;
		width: 80%;

 border: 1px solid purple;
    box-shadow: 0px 0px 18px 9px rebeccapurple;
padding: 10px;
background-color: #FFF !important;
    border-radius:10px;
text-align: left;
		img {
	width:20px;
	height:20px
}
	&__btn {
	width:80%;
	border:none;
	background: none;
	outline: none;
	}
	}
	&__submit {
	width:45%;
	background-color:purple;
    color: #fff;
    padding: 10px 20px;
    margin:10% auto;
	border:none;
    border-radius:10px;
	
    cursor: pointer;
	}
}