<header class="header">
    <div class="header__left">
        <ul class="header__listHeaderLinks">

            <!--<li class="header__list"> <img class="header__logo" src="src/images/th.jpg"></li>-->
            <li class="header__list"><i class="fa fa-th" aria-hidden="true"></i></li>
        </ul>

        <div class="header__search">
            <button class="header__slider">
        <i class="fa fa-sliders" aria-hidden="true"></i>
    </button>
            <input type="text" placeholder="search.." class="header__searchbox">
            <button class="header__searchicon">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
        </div>
    </div>
    <ul class="header__right">
        <li class="header__RightList"> <i class="fa fa-bell-o" aria-hidden="true"></i></li>
        <li class="header__list"> <img class="header__logo header__profile" src="src/images/th.jpg"></li>
        <li class="header__RightList header__setting"> <i class="fa fa-cog" aria-hidden="true"></i></li>
        <li class="header__list"><i class="fa fa-bars" aria-hidden="true"></i> </li>
    </ul>

</header>
<div class="sideBar">
    <ul>
        <li class="sideBar__listHeader">DASHBOARDS</li>
        <li class="sideBar__arrowList"><i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="sideBar__subHead"> Dashboard </span>
            <i class="fa fa-chevron-right sideBar__arrow" aria-hidden="true"></i>
            <ul>
                <li class="sideBar__subList">Dashboard 1</li>
            </ul>
        </li>
        <li class="sideBar__listHeader">FEATURES</li>
        <li class="sideBar__arrowList"><i class="fa fa-sliders" aria-hidden="true"></i>
            <span class="sideBar__subHead"> UI Elements </span>
            <i class="fa fa-chevron-right sideBar__arrow" aria-hidden="true"></i>
            <ul>
                <li class="sideBar__subList">Buttons</li>
            </ul>
        </li>
        <li class="sideBar__arrowList"><i class="fa fa-inbox" aria-hidden="true"></i>
            <span class="sideBar__subHead"> Components </span>
            <i class="fa fa-chevron-right sideBar__arrow" aria-hidden="true"></i>
            <ul>
                <li class="sideBar__subList">Notification & alerts</li>
            </ul>
        </li>
        <li class="sideBar__arrowList"><i class="fa fa-area-chart" aria-hidden="true"></i>
            <span class="sideBar__subHead"> Graphs & Charts </span>
            <i class="fa fa-chevron-right sideBar__arrow" aria-hidden="true"></i>
            <ul>
                <li class="sideBar__subList">Google Charts</li>
            </ul>
        </li>
        <li class="sideBar__arrowList"><i class="fa fa-map" aria-hidden="true"></i>
            <span class="sideBar__subHead"> Maps </span>
            <i class="fa fa-chevron-right sideBar__arrow" aria-hidden="true"></i>
            <ul>
                <li class="sideBar__subList">Google Charts</li>
            </ul>
        </li>
        <li class="sideBar__arrowList"><i class="fa fa-table" aria-hidden="true"></i>
            <span class="sideBar__subHead"> Tables </span>
            <i class="fa fa-chevron-right sideBar__arrow" aria-hidden="true"></i>
            <ul>
                <li class="sideBar__subList">Basic Tables</li>
            </ul>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="footer__left">
        2017 @ frugal
    </div>
    <div class="footer__right">
        <ul>
            <li class="footer__list">Privacy</li>
            <li class="footer__list">Terms</li>
            <li class="footer__list">Help</li>
        </ul>
    </div>
</footer>