<header class="header">
    <div class="header__left">
    <ul class="header__listHeaderLinks">
    
    <!--<li class="header__list"> <img class="header__logo" src="src/images/th.jpg"></li>-->
    <li class="header__list"><i class="fa fa-th" aria-hidden="true"></i></li>
    </ul>
    
    <div class="header__search">
    <button class="header__slider">
        <i class="fa fa-sliders" aria-hidden="true"></i>
    </button>
    <input type="text" placeholder="search.." class="header__searchbox">
    <button class="header__searchicon">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    </div>
    </div>
        <ul class="header__right">
       <li class="header__RightList"> <i class="fa fa-bell-o" aria-hidden="true"></i></li>
       <li class="header__list"> <img class="header__logo header__profile" src="src/images/th.jpg"></li>
       <li class="header__RightList"> <i class="fa fa-cog" aria-hidden="true"></i></li>
       <li class="header__list"><i class="fa fa-bars" aria-hidden="true"></i> </li>
        </ul>
</header>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="footer__left">
         2017 @ frugal
    </div>
    <div class="footer__right">
        <ul>
            <li class="footer__list">Privacy</li>
            <li class="footer__list">Terms</li>
            <li class="footer__list">Help</li>
        </ul>
    </div>
</footer>